
<body>
  <div class="topnav">
    <ul >

    <li><a href="login.html"  style=" font-weight: bold; font-size: large;">Login </a></li>

    </ul>
  </div>

      <div class="row">
        <div class="main">
          <div class="card">

            <form method="post" action="result.jsp">
                <div class="container">
                  <table>
                    <tr>
                        <td>Enter Your Email</td><td><input type="email" placeholder ="abc@example.com"/> </td>
                      </tr>
                   <tr>
                     <td>Enter Your Password</td>
                     <td> <input type="password" placeholder="password"/></td>
                   </tr>
                   <tr>
                    <td></td>
                    <td style="text-align: right"> <a href="">Forgot Password?</a></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td > <button type="submit" class="btn">Login</button></td>
                  </tr>
                    </table>
                </div>
               <div style="text-align: center;">
                 <p>New User? Register Below</p>
                 <p>Are you <a href="farmer.html">Farmer </a>or <a href="bidder.html">Bidder</a></p>
               </div>
               <div >
                <p>Click <a href="index.html"> here </a>to go back</p>

              </div>


              </form>
          </div>
        </div>
      </div>
</body>

